
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#headline-container{
  position:relative;
  height: 10vh;
  background-color: rgba(4, 10, 27, 0.881);
  color: white;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 5px;
}

/*'Patrick Hand SC'*/

#main-headline{
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 4vh;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0;
  line-height: 10vh;
  display: inline-block;
  width: 100%;
}

#dropDown-menu{
  position: absolute;
  top: 6.5vh;
  left:10px;
  height: 30px;
  justify-content: center;
}

#dropDown-menu:hover{
  color: rgb(228, 237, 240);
  cursor: pointer;
}

#dropDown-info{
  display: inline-block;
  font-family: 'Quicksand';
  font-size: 10px;
}

#dropDownArrow{
  display: inline-block;
  vertical-align: middle;
}

#dropDown{
  position: absolute;
  height: max-content;
  width: 37vw;
  background-color: rgba(228, 237, 240, 0.998);
  border-radius: 4px;
  font-family: 'Quicksand', 'Rubik';
  font-size: 10px;
  padding: 10px;
  padding-bottom: 15px;
  margin-top: -5px;
  margin-left: 10px;
  text-align: left;
  line-height: 18px;
}


#section1{
  height: 80vh;
  margin-top: 10px;
}

#weekly{
  margin: 10px;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
}

/* course list */
#courses-list{
  margin: 10px;
  align-items: center;
}

#courses-container{
  display: block;
}

#list-headline{
  display: inline-block;
  font-family: 'Quicksand';
  font-size: 4.5vw;
  font-weight: 400;
  margin-left: 15px;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

#semA-btn{
  display: inline-block;
  font-family: 'Quicksand';
  font-size: 3vw;
  border: 0.8px solid #555;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  background-color: white;
  font-weight: 400;
}

#semB-btn{
  font-family: 'Quicksand';
  font-size: 3vw;
  border: 0.5px solid #555;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  background-color: whitesmoke;
  font-weight: 200;
}

#errMsg{
  font-family: 'Quicksand';
  font-size: 11px;
  background-color: rgba(0, 0, 0, 0.514);
  color: white;
  border-radius: 10px;
  padding: 3px 7px;
  margin: auto auto;
  margin-bottom: 0;
  margin-top: 4px;
  width: max-content;
}

#list{
  height: 28vh;
  background-color: white;
  border-radius: 30px;
  margin:10px 0;
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
  overflow-y:scroll;
  overflow-x: hidden;
}

#input-course{
  width: 60%;
  float: left;
  margin-left: 15px;
  font-family: 'Quicksand';
  font-size: 3vw;
  color: gray;
  margin-right: 3px;
}

#plus-icon{
  float: left;
  margin-top: 8px;
}

#plus-icon:hover{
  color: gray;
  cursor: pointer;
}

#entries-container{
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 10px;
}

#entry{
  width: 100%;
  display: table;
  padding-bottom: 5px;
}

#entry-course-name{
  margin: 0;
}

#listEntries{
  display: table-cell;
  height: 40px;
  width: 80vw;
  font-size: 3vw;
  border-radius: 10px;
  padding: 5px;
  text-align: right;
  padding-right: 15px;
  vertical-align: middle;
}

#listEntries:hover{
  opacity: 0.8;
  cursor: pointer;
}

#remove-entry{
  display: table-cell;
  color: rgba(230, 51, 51, 0.97);
  padding: 5px;
  vertical-align: middle;
}

#remove-entry:hover{
  color: rgba(208, 43, 43, 0.922);
  animation: shake 1s;
}


#option{
  font-size: 2.4vw;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  direction: rtl;
  margin-left: -38px;
  margin-right: -8px;
}

#lesson{
  font-weight: 500;
  line-height: 12px;
  margin:0;
  padding-right: 1px;
  border-radius: 5px;

}

#practice{
  line-height: 12px;
  margin:4px 0;
  padding-right: 15px;
  border-radius: 5px;

}

#lesson:hover, #practice:hover{
  background-color: rgba(239, 228, 228, 0.596) ;
}
/* rgba(239, 228, 228, 0.596) */


/* Weekly*/

#hours-counter{
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 3vw;
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 2px;
}

#week-calender{
  font-family: 'Quicksand';
  display: grid;
  grid-template-columns: 6vw 13vw 13vw 13vw 13vw 13vw 13vw; 
  padding: 15px 20px;
  background-color: white;
  border-radius: 20px;
  grid-template-areas: "overlap";
  align-content: center;
}

#event{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 2vw;
  opacity: 0.85;
  border-radius: 3px;
  grid-area: overlap;
  margin-right:0.1px;
  direction: rtl;
  text-align: center;
  border:0.5px solid #888;
  overflow: hidden;
}

#event-content{
  margin: 0;
}

#divider-line{
  display: inline-block;
  position: absolute;
  top:45%;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  border-left: 1px solid;
}

.day{
  position: relative;
  font-size: 2.1vw;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid;
  padding: 3px 0;
}

.hour{
  font-size: 2.1vw;
  font-weight: 200px;
  text-align: center;
  padding: 5px 0;
  border-bottom: 0.4px solid rgba(152, 151, 151, 0.61);
  grid-column-start: 1;
  grid-column-end: 2;
}

.free-cell{
  border-left: 1px solid;
  border-bottom: 0.6px solid rgba(152, 151, 151, 0.61);
}

.free-cell[row="1"]{
  grid-row-start: 2;
  grid-row-end: 3;
}
.free-cell[row="2"]{
  grid-row-start: 3;
  grid-row-end: 4;
}
.free-cell[row="3"]{
  grid-row-start: 4;
  grid-row-end: 5;
}
.free-cell[row="4"]{
  grid-row-start: 5;
  grid-row-end: 6;
}
.free-cell[row="5"]{
  grid-row-start: 6;
  grid-row-end: 7;
}
.free-cell[row="6"]{
  grid-row-start: 7;
  grid-row-end: 8;
}
.free-cell[row="7"]{
  grid-row-start: 8;
  grid-row-end: 9;
}
.free-cell[row="8"]{
  grid-row-start: 9;
  grid-row-end: 10;
}
.free-cell[row="9"]{
  grid-row-start: 10;
  grid-row-end: 11;
}
.free-cell[row="10"]{
  grid-row-start: 11;
  grid-row-end: 12;
}
.free-cell[row="11"]{
  grid-row-start: 12;
  grid-row-end: 13;
}
.free-cell[row="12"]{
  grid-row-start: 13;
  grid-row-end: 14;
}
.free-cell[row="13"]{
  grid-row-start: 14;
  grid-row-end: 15;
}
.free-cell[row="14"]{
  grid-row-start: 15;
  grid-row-end: 16;
}


.free-cell[col="1"]{
  grid-column-start: 2;
  grid-column-end: 3;
}
.free-cell[col="2"]{
  grid-column-start: 3;
  grid-column-end: 4;
}
.free-cell[col="3"]{
  grid-column-start: 4;
  grid-column-end: 5;
}
.free-cell[col="4"]{
  grid-column-start: 5;
  grid-column-end: 6;
}
.free-cell[col="5"]{
  grid-column-start: 6;
  grid-column-end: 7;
}
.free-cell[col="6"]{
  grid-column-start: 7;
  grid-column-end: 8;
}

#last-line{
  border-bottom: none;
}


/* Section 2 - exams*/

#section2{
  display: flex;
  margin-top: 1vh;
  height: max-content;
}

#exams-calender{
  display: none;
  flex:3;
  margin: 10px;
  vertical-align: middle;
}

#exams-list{
  flex: 1.85;
  margin: 10px;
}

#exams-list-headline{
  display: inline-block;
  font-family: 'Quicksand';
  font-size: 4.5vw;
  font-weight: 400;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

#exams-list-container{
  background-color: white;
  border-radius: 30px;
  align-items: center;
  height: 28vh;
  margin-top: 5px;
  padding-top: 12px;
  overflow-y: scroll;
}

#exam-entry{
  align-items: center;
  font-family: 'Rubik';
  font-size: 3vw;
  padding-right: 10px;
  margin-bottom: 5.5px;
  margin-top: 0;
  margin-left: 11px;
  margin-right: 11px;
  border-radius: 10px;
}

#exam-list-text-container{
  display:table;
  width: 100%;
  text-align: right;
}

#exam-calnedar-headline{
  display: inline-block;
  font-family: 'Quicksand';
  font-size: 1.35vw;
  font-weight: 400;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 0;
}


/* Exam calendar */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border-radius: 8px;
  font-family: 'Quicksand';
  line-height: 1.125em;
  margin: auto auto;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 1.2em;
  margin-top: 0;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  font-family: 'Quicksand';
  margin: 0;
  border: none;
  outline: none;
  border-radius: 6px;

}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 15px;
  color: rgb(46, 114, 223);
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
  opacity: 0;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background-color: #ffff76c9;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
/* this is the style for clicked date*/
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.selectedC6F1FE{
  background-color: #C6F1FE;
}
.selectedC7CEEA--neineighboringMonth{
  background-color: white;
}
.selectedC7CEEA{
  background-color: #C7CEEA;
}
.selectedB5EAD7{
  background-color: #B5EAD7;
}
.selectedB5EAD7--neineighboringMonth{
  background-color: none;
}
.selectedFFDAC1{
  background-color: #FFDAC1;
}
.selectedFF9AA2{
  background-color: #FF9AA2;
}
.selectedFFFFD8{
  background-color: #FFFFD8;
}
.selected9DBBEA{
  background-color: #9DBBEA;
}
.selectedF8C8DC{
  background-color: #F8C8DC;
}
.selectedB9E9E3{
  background-color: #B9E9E3;
}
/*diabling neighboringMonth*/
.--neighboringMonth {
  color: white;
  background-color: none;
}



/* Biding Advisor section*/

#section3{
  height: max-content;
  padding-bottom: 100px;
  margin-top: 30px;
}

#section3-headline{
  font-family: 'Quicksand';
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

#biding-advisor-explain{
  font-family: 'Quicksand';
  font-size: 4vw;
  font-weight: 200;
  margin: 0 10px;
  line-height: 30px;
  text-align: center;
  
}

#slider-container{
  position: relative;
  display: flex;
  align-items: center;
  margin: auto 3px;
}

#slider{
  display: flex;
  margin:15px auto;
  width: 80vw;
  /*justify-content: center; */
  padding: 0 10px;
  padding-bottom: 10px;
  overflow: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

#slider::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

#slider-arrows{
  opacity: 0.7;
  cursor: pointer;
}

#slider-arrows:hover{
  opacity: 0.4;
}

.biding-coin{
  display: inline-block;
  margin-right: 30px;
  font-size: 3.4vw;
  cursor: pointer;
}


#biding-circle{
  position: relative;
  height: 27vw;
  width: 27vw;
  border-radius: 50%;
  text-align: center;
  box-shadow: -0.8px 0.8px 2px rgba(146, 151, 152, 0.338);
}



#coin-front, #coin-back {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
}

#coin-back {
  font-family: 'Quicksand';
  font-weight: 200;
}



.biding-coin[direction = "front"] #coin-front{
  display: block;
}

.biding-coin[direction = "front"] #coin-back{
  display: none;
}

.biding-coin[direction = "back"] #coin-front{
  display: none;
}

.biding-coin[direction = "back"] #coin-back{
  display: block;
}

#total-points{
  font-family: 'Quicksand';
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}

#total-points-exp{
  font-family: 'Quicksand';
  font-size: 12px;
  color: rgb(115, 114, 114);
  font-weight: 400;
  text-align: center;
}






/* animation */

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1.5px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1.5px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1.5px, 0, 0);
  }
}

